# Chapter 2: Variables, Expressions, and Statements

In this notebook, we'll explore the basic building blocks of programming: **variables**, **expressions**, **statements**, and **data types** in Python. Understanding these concepts is essential for writing effective Python code.

## Values and Types

A **value** is a fundamental piece of data that a program manipulates. Values can be numbers, like `2` or `3.5`, or text, like `'Hello, World!'`. Every value in Python has a specific **type**:
- `2` is an **integer** (`int`), representing whole numbers.
- `3.5` is a **floating-point number** (`float`), allowing for decimal points.
- `'Hello, World!'` is a **string** (`str`), a sequence of characters enclosed in quotes.

Let's examine these types in action.

In [ ]:
4  # This is an integer (int)

4

In [ ]:
3.5  # This is a floating-point number (float)

3.5

In [ ]:
'Hello, World!'  # This is a string (str)

'Hello, World!'

### Checking Types

Python provides the `type()` function to check the type of any value. This can be very useful for understanding how Python interprets different types of data.

In [ ]:
type(4)  # Check the type of an integer

int

When numbers include decimal points, they are treated as `float` types. The `float` type is useful for representing real numbers with fractional components.

In [ ]:
type(3.5)  # Check the type of a float

float

Strings are used to represent text data in Python. They are enclosed in quotes (single or double). Python allows various operations with strings, which we will explore later.

In [ ]:
type('Hello, World!')  # Check the type of a string

str

Values like `'17'` and `'3.2'` look like numbers, but because they are enclosed in quotes, they are actually strings. Let's confirm that using the `type()` function.

In [ ]:
type('17')  # Check the type of a string

str

In [ ]:
type("3.2")  # Check the type of a string

str

### Boolean Values

Sometimes, we need to represent a binary choice, like Yes/No or True/False. These are **Boolean** values, named after George Boole, a 19th-century mathematician. In Python, Booleans are represented as `True` and `False` (note the capital T and F).

In [ ]:
type(True)  # Check the type of a Boolean

bool

### Special Value: None

In Python, there is a special value called `None`, which represents the absence of a value. It is of type `NoneType`. You will often encounter `None` as the default return value of functions that don't explicitly return a value.

In [ ]:
type(None)  # Check the type of None

NoneType

## Printing Values

Printing values is one of the simplest ways to interact with a program. The `print()` function in Python displays values or text on the screen. Below are some examples of printing different types of data.

In [ ]:
print(74)  # Printing an integer
print(23.4)  # Printing a float
print("Hello, world")  # Printing a string

74
23.4
Hello, world

Be cautious when typing large integers. In Python, `1,000,000` is not a valid number because the commas are interpreted as separate items. If you want to represent a million, write `1000000`.

In [ ]:
print(f"{1_000_000:.2f}")  # This prints each number separated by a space

1000000.00

In [ ]:
print("5 bananas + 5 bananas is = to", 5 + 5, "bananas" )

5 bananas + 5 bananas is = to 10 bananas

## Variables

A **variable** is a name that refers to a value. The value stored in a variable can be accessed later by using the variable's name. Variables are created using an **assignment statement**.

In [ ]:
message = 'And now for something completely different'
print(message)  # Print the value of the variable
type(message)  # Check the type of the variable

And now for something completely different

str

### Variable Names and Keywords

Variable names can be of any length and can include letters and numbers, but they must begin with a letter (a-z, A-Z) or an underscore (`_`). Python keywords, like `class`, `for`, `return`, and `continue`, cannot be used as variable names. Keywords have special meaning in Python, so using them as variable names will result in errors.

In [ ]:
# Examples of legal and illegal variable names
legal_variable = 42  # Legal
76trombones = 'big parade'  # Illegal: starts with a number
more@ = 1000000  # Illegal: contains an illegal character
class = 'Advanced Theoretical Zymurgy'  # Illegal: class is a keyword

SyntaxError: invalid decimal literal (<ipython-input-19-5a1ea2bbf78b>, line 3)

## Statements

A **statement** is an instruction that the Python interpreter can execute. We have already seen two kinds of statements: the `print()` statement and the assignment statement.

In [ ]:
print(1)
x = 2
print(x)

1
2

Here, the variable `x` is assigned the value `2`. The assignment statement does not produce any output. The `print()` statement is used to display the value of `x`.

## Operators and Operands

Operators are symbols that represent computations like addition (`+`) and multiplication (`*`). The values that the operator is applied to are called operands. Let's explore some basic arithmetic operations.

In [ ]:
20 + 32  # Addition
hour = 9
minute = 45
hour - 1  # Subtraction
hour * 60 + minute  # Multiplication and addition
minute / 60  # Division
5 ** 2  # Exponentiation
(5 + 9) * (15 - 7)  # Multiple operations with parentheses

112

In an interactive Python environment like Google Colab, only the last evaluated expression in a cell is displayed by default. If you want to see all the results, use the `print()` function for each expression.

In [ ]:
print(20 + 32)
hour = 9
minute = 45
print(hour - 1)
print(hour * 60 + minute)
print(minute / 60)
print(5 ** 2)
print((5 + 9) * (15 - 7))

52
8
585
0.75
25
112

## Expressions

An **expression** is a combination of values, variables, and operators that, when evaluated, produces a value. A single value or a variable on its own is also considered an expression.

In [ ]:
17  # An expression (a literal value)
x = 5  # Assignment statement
print(x + 17)  # Expression involving a variable
print(1 + 1)  # Simple arithmetic expression

22
2

## Order of Operations

When an expression contains multiple operators, the order of evaluation depends on operator precedence. The acronym **PEMDAS** can help you remember the order:
- **P**arentheses
- **E**xponentiation
- **M**ultiplication and **D**ivision (from left to right)
- **A**ddition and **S**ubtraction (from left to right)

In [ ]:
2 * (3 - 1)  # Parentheses ensure subtraction happens before multiplication

4

In [ ]:
(1 + 1) ** (5 - 2)  # Exponentiation occurs after parentheses

8

In [ ]:
2 ** 1 + 1  # Exponentiation happens first, followed by addition

3

In [ ]:
3 * 1 ** 3  # Exponentiation occurs before multiplication

3

In [ ]:
2 * 3 - 1  # Multiplication happens before subtraction

5

In [ ]:
6 + 4 / 2  # Division happens before addition

8.0

In [ ]:
5 - 3 - 1  # Subtraction is performed left to right

1

## Modulus Operator

The **modulus operator** (`%`) returns the remainder of the division between two numbers. This can be useful in various situations, such as checking if a number is even or odd.

In [ ]:
quotient = 7 // 3  # Floor division
remainder = 7 % 3  # Modulus operation
print(quotient)  # Prints 2
print(remainder)  # Prints 1

2
1

In [ ]:
6 % 2

0

## String Operations

The `+` operator works with strings, but instead of adding, it **concatenates** (joins) the strings together. The `*` operator can repeat a string a specified number of times.

In [ ]:
first = 10
second = 15
print(first + second)  # Addition of numbers

25

In [ ]:
first = '100'
second = '150'
print(first + second)  # Concatenation of strings

100150

In [ ]:
first = 'Test '
second = 3
print(first * second)  # Repeat the string three times

Test Test Test

In [ ]:
# This will break!
print("Can't subtract" - "strings")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

The type of a value determines what operations you can perform on it. For example, you can add or subtract numbers, but you cannot subtract strings. Understanding types is crucial for preventing and debugging errors in your programs.

## Asking the User for Input

Python provides the `input()` function to get input from the user. When called, the program pauses and waits for the user to type something. The input is always returned as a string, even if it looks like a number.

In [ ]:
inp = input()
print(inp)  # Displays what the user types

Python
Python

In [ ]:
name = input('What is your name?\n')
print(name)  # Displays the user's name

What is your name?
Lin
Lin

In [ ]:
prompt = 'What...is the airspeed velocity of an unladen swallow?\n'
speed = input(prompt)
print(int(speed) + 5)  # Attempt to convert to an integer

What...is the airspeed velocity of an unladen swallow?
speed

ValueError: invalid literal for int() with base 10: 'speed'

## Comments

As programs get more complex, it's important to add comments explaining what your code does. Comments are ignored by Python, but they help you and others understand your code.

In [ ]:
# This is a comment
percentage = (minute * 100) / 60  # Calculate the percentage of an hour
print(percentage)

75.0

## Choosing Mnemonic Variable Names

Choose variable names that make your code easier to understand. Good variable names can make a program almost self-documenting.

In [ ]:
x1q3z9ahd = 35.0
x1q3z9afd = 12.50
x1q3p9afd = x1q3z9ahd * x1q3z9afd
print(x1q3p9afd)  # This is hard to read!

437.5

In [ ]:
hours = 35.0
rate = 12.50
pay = hours * rate  # Calculate the total pay
print(pay)

437.5

The Python interpreter treats these two programs as exactly the same, but the first version is much easier for humans to read and understand. This is why choosing meaningful variable names is important.

## Debugging

At this stage, the most common errors you will encounter are **SyntaxErrors** due to illegal variable names (e.g., using a keyword like `class` as a variable name) or **NameErrors** from trying to use a variable before it has been defined.

Debugging is the process of identifying and fixing errors in your code. Here are some strategies:

- **Reading:** Carefully examine your code, and read it back to yourself.
- **Running:** Experiment by making small changes and running different versions to isolate the problem.
- **Ruminating:** Take time to think about the error type and gather as much information as possible.
- **Retreating:** If necessary, undo recent changes until you return to a working state, then rebuild.

In [ ]:
# Example of a NameError
principal = 327.68
interest = principle * rate  # Note the typo

NameError: name 'principle' is not defined

In [ ]:
bad name = 5
# If you put a space in a variable name, Python thinks it is two operands without an operator:

SyntaxError: invalid syntax (<ipython-input-52-e55a2aa066b2>, line 1)

Variables names are case sensitive, so `LaTeX` is not the same as `latex`.